@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6666667;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Raleway", sans-serif;
  color: inherit;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
}

.text {
  color: #444444;
}

.input {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffe17f;
}

.header-find {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.header-wrap {
  display: flex;
  flex-wrap: wrap;
}

.header-list {
  display: flex;
  width: 517px;
  margin: auto;
  padding: auto;
  gap: 28px;
  justify-content: flex-end;
  list-style-type: none;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: auto;
  justify-content: space-between;
}

.navigation-catalog-list {
  list-style-type: none;
}

.header-link {
  color: inherit;
  text-decoration: none;
}

.navigation-catalog-link {
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 471px;
  margin: 0;
  padding: 0;
  gap: 45px;
  list-style-type: none;
}

.slider-order-property {
  line-height: 30px;
}

.property-key {
  font-size: 36px;
}

.property-value {
  font-size: 16px;
  color: #444444;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.main-catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  list-style-type: none;
}

.main-catalog-item {
  width: 160px;
  background-color: #ffe17f;
}

.main-catalog-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  letter-spacing: -0.02em;
}

.services {
  display: flex;
  background-color: #f0f0f0;
}

.tabs {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tabs-contents {
  flex-grow: 2;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button-current {
  color: #ffe17f;
  background-color: #000000;
}

.delivery {
  background-color: #f0f0f0;
}

.delivery-button {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.info-content {
  display: flex;
  gap: 108px;
}

.content-item {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.content-subtitle {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #444444;
}
.content-list {
  list-style-type: none;
}
.content-address {
  font-style: normal;
}

.newsletter {
  background-color: #f0f0f0;
}

.newsletter-form {
  color: #444444;
}

.page-footer {
  display: flex;
}

.page-footer {
  background-color: #444444;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}
.social-list {
  list-style-type: none;
}

.social-link {
  background-color: #444444;
  text-decoration: none;
  color: #fff;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 444px;
  gap: 35px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-contacts-address {
  font-style: normal;
}

.footer-contacts-address-phone {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  width: 1079px;
  gap: 16px;
  list-style-type: none;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 20px;
}

.filter-products-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 320px;
  padding-left: 60px;
  list-style-type: none;
}

.filter-products-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.sort-wrap {
  display: flex;
}

.sort-link {
  color: inherit;
  text-decoration: none;
}

.select {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  list-style-type: none;
}

.product-card {
  width: 360px;
}

.filter-products {
  background-color: #f0f0f0;
}

.product-card-link {
  color: inherit;
  text-decoration: none;
}

.product-card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-card-price {
  line-height: 21px;
  color: #444444;
  text-align: right;
}

.pagination-show-more {
  font-family: "Raleway", sans-serif;
  color: inherit;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-align: center;
  text-decoration: none;
  opacity: 0.3;
}

.pagination-current {
  opacity: 0.6;
}

.pagination-ring {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: inherit;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
}

.pagination-disabled {
  color: #444444;
  pointer-events: none;
  opacity: 0.3;
}

.container {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}
