.box {
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  position: relative;

}

.link {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  list-style: none;
  padding: 0;
  position: relative;
  display: block;
}

.link::before {
  content: "";
  background-image: url("../img/virtual.svg");
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
}
