@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

body {
   font-family: "Rubik", sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.6666667;
   color: #000000;
}

.button {
  font-family: "Raleway", sans-serif;
  color:inherit;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
}

.text {
  color: #444444;
}

.header {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  text-transform: none;
  background-color:#ffe17f;
}

.header-input {
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  text-align: left;
}

.header-find {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.header-link {
  color: inherit;
  line-height: 30px;
  text-decoration: none;
}

.catalog-menu-opener {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.navigation-catalog-link {
  line-height: 18px;
  color: inherit;
  text-decoration: none;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.slider-order-item {
  background: linear-gradient(#ffe17f 17%);
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
}

.property-key {
  font-size: 36px;
}

.property-value {
  font-size: 16px;
  color: #444444;
}

.main-catalog-item {
  background: linear-gradient(#ffe17f 66%);
}

.main-catalog-description {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.services {
  background: linear-gradient(#f0f0f0);
}

.button-current {
  color: #ffe17f;
  background-color: #000000;
}

.delivery {
  background-color: #f0f0f0;
}

.delivery-button {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.content-item {
  font-weight: 700;
  line-height: 20px;
}

.content-subtitle {
  font-size: 24px;
  font-weight: 700;
  color: #444444;
}

.content-address {
  font-style: normal;
}

.content-text-link {
  color: #444444;
  text-align: center;
  text-decoration-line: underline;
}

.page-footer {
  background-color: #444444;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.footer-contacts-address-phone {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;  /* я не знаю откуда наследуется italic */
}

.footer-about-text {
  font-style: normal;   /* я не знаю откуда наследуется italic */
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 20px;
}

.filter-products {
  background-color: #f0f0f0;
  color:  #000000;
}

.filter-products-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.filter-title {
  font-weight: 800;
  line-height: 19px;
}

.input {
  font-size: 16px;
  line-height: 20px;
}

.sort-link {
  color: inherit;
  text-decoration: none;
}

.product-list {
  background-color: #ffffff;
  color: #000000;
}

.product-card-link {
  color: inherit;
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  line-height: 20px;
}

.product-card-price {
  line-height: 21px;
  color: #444444;
  text-align: right;
}

.pagination-show-more {
  font-family: "Raleway", sans-serif;
  color:inherit;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-align: center;
  text-decoration: none;
}

.pagination-ring {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3.6px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
}

.pagination-disabled {
  color: #444444;
  pointer-events: none;
}
